@charset "UTF-8";
@supports (animation-timeline: view()) {
  @keyframes fade-out {
    to {
      background-size: 150%;
      opacity: 0;
    }
  }
  @keyframes zoom-out {
    to {
      font-size: 2rem;
      padding-left: 0.1em;
    }
  }
  @keyframes appear {
    to {
      opacity: 1;
    }
  }
  @keyframes max-out {
    to {
      max-width: 100%;
    }
  }
  .hero {
    animation: fade-out linear both;
    animation-timeline: view();
    animation-range: exit -100px;
  }
  nav {
    animation: max-out linear both;
    animation-timeline: view();
    animation-range-start: 80vh;
    animation-range-end: 100vh;
  }
  nav:after {
    animation: appear linear both;
    animation-timeline: view();
    animation-range-start: 60vh;
    animation-range-end: 100vh;
  }
  .logo {
    animation: zoom-out linear both;
    animation-timeline: view();
    animation-range-start: 10vh;
    animation-range-end: 100vh;
  }
}
@supports not (animation-timeline: view()) {
  .notice:after {
    content: " animation-timeline of scroll and view are currently not supported in your browser.";
  }
}
.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: #0f0f0f;
  color: #F9F6EF;
}

.hero, nav, main {
  max-width: 950px;
  margin: 0 auto;
  padding-inline: 1em;
}

.nav:after {
  content: "";
  position: absolute;
  opacity: 0;
  height: 0.05em;
  width: 100%;
  bottom: 0;
  background-color: #df5454;
}

h2 {
  color: rgb(131, 131, 131);
  font-size: 35px;
  font-weight: 700;
  line-height: 0.8;
}

p {
  max-width: 500px;
  text-wrap: balance;
  font-size: 17px;
  color: rgb(204, 204, 204);
}

i, section, div, a, p, h2 {
  user-select: none;
}

.seccion_container {
  margin-top: 400px;
}

.hero {
  min-height: 60vh;
  background-image: url("https://images.unsplash.com/photo-1520078452277-0832598937e5?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  mix-blend-mode: lighten;
  display: grid;
  align-content: center;
  container-type: inline-size;
}
.hero h1 {
  font-size: clamp(2rem, 7cqi, 10rem);
  font-weight: 600;
  max-width: 50%;
  color: #F9F6EF;
  text-wrap: balance;
  line-height: 0.8;
}
.hero h1 i {
  color: #df5454;
  margin-right: 10px;
}
.hero h1 .typed {
  color: #df5454;
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  min-height: 3rem;
  background-color: rgba(15, 15, 15, 0.9254901961);
  backdrop-filter: blur(0.2em);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  z-index: 10;
}
.nav .logo {
  font-weight: 900;
  font-size: 10cqi;
  background-color: #df5454;
  background-clip: text;
  color: rgba(0, 0, 0, 0);
}
.nav ul {
  padding-right: 1em;
  margin: 0;
  display: inline-flex;
  gap: 1rem;
}
.nav ul li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  transition: 0.5s linear;
}
.nav ul li a {
  text-decoration: none;
  color: #F9F6EF;
}
.nav ul li:hover {
  text-decoration: underline #df5454;
}

.nav_mobile {
  display: none;
}

.main .about_me {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .about_me .about_me_txt span {
  color: #cb3737;
  font-weight: 600;
}
.main .about_me .about_me_txt .socials {
  display: flex;
  margin-top: 40px;
  gap: 10px;
}
.main .about_me .about_me_txt .socials .socials_button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: auto;
  border-radius: 20px;
  padding: 7px 18px;
  color: #F9F6EF;
  background-color: rgba(128, 128, 128, 0.178);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 200ms;
  text-decoration: none;
}
.main .about_me .about_me_txt .socials .socials_button i {
  font-size: 22px;
  color: #ec7d7d;
}
.main .about_me .about_me_txt .socials .socials_button:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.1019607843);
}
.main .about_me .container {
  display: grid;
  width: 400px;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.main .about_me .container .img2class {
  width: 100%;
  border-radius: 10px;
  grid-column: 1/3;
  object-fit: cover;
}
.main .about_me .container .img1class {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  grid-column: 1/5;
  object-fit: cover;
}
.main .about_me .container .img3class {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  grid-column: 3/5;
  object-fit: cover;
}
.main .projects .project_container_items {
  border-radius: solid rgb(255, 10, 10);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 250px);
  gap: 20px;
}
.main .projects .project_container_items .card {
  background-color: #ab2a2a;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.main .projects .project_container_items .card .card_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .projects .project_container_items .card.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
.main .projects .project_container_items .card .card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.main .projects .project_container_items .card .card__content .card__title {
  margin: 0;
  font-size: 20px;
  color: #333;
  font-weight: 700;
}
.main .projects .project_container_items .card .card__content.card:hover svg {
  scale: 0;
}
.main .projects .project_container_items .card .card__content .card__description {
  margin: 10px 0 10px;
  font-size: 12px;
  color: #777;
  line-height: 1.4;
}
.main .projects .project_container_items .card .card__content .card__button {
  padding: 15px;
  border-radius: 8px;
  background: #777;
  border: none;
  color: white;
}
.main .projects .project_container_items .card .card__content .secondary {
  background: transparent;
  color: #777;
  border: 1px solid #777;
}
.main .projects .project_container_items .card.card:hover .card__content {
  transform: rotateX(0deg);
}
.main .projects .project_container_items .card.card:hover .card__content {
  transform: rotateX(0deg);
}
.main .projects .project_container_items .div1 {
  grid-row: 1/3;
}
.main .projects .project_container_items .div2 {
  grid-column: 2/4;
}
.main .projects .project_container_items .div5 {
  grid-row: 3/5;
}
.main .projects .project_container_items .div7 {
  grid-column: 2/4;
  grid-row: 3/4;
}
.main .expirience .expirience_container_items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.main .expirience .expirience_container_items .cart_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.185);
}
.main .expirience .expirience_container_items .cart_container .cart_icon i {
  font-size: 50px;
  color: #df5454;
}
.main .expirience .expirience_container_items .cart_container .cart_txt h3 {
  color: #F9F6EF;
  font-weight: 800;
}
.main .expirience .expirience_container_items .cart_container .cart_txt p {
  display: flex;
  gap: 10px;
  color: #cb3737;
  font-weight: 700;
}
.main .expirience .expirience_container_items .cart_container .cart_txt p span {
  color: rgb(131, 131, 131);
}
.main .expirience .expirience_container_items .cart_container .cart_button button {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: none;
  background-color: rgba(128, 128, 128, 0.178);
  color: #F9F6EF;
  cursor: pointer;
}
.main .expirience .expirience_container_items .cart_container .cart_button button:hover {
  background-color: rgba(255, 255, 255, 0.1019607843);
}
.main .skills .logos_container {
  overflow: hidden;
  display: flex;
  position: relative;
}
.main .skills .logos_container .logos_slide {
  display: flex;
  gap: 60px;
  animation: slide 35s infinite linear;
}
.main .skills .logos_container .logos_slide .slide svg {
  height: 50px;
  width: 50px;
}
.main .skills .logos_container::before,
.main .skills .logos_container::after {
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  content: "";
  z-index: 2;
}
.main .skills .logos_container::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #0f0f0f);
}
.main .skills .logos_container::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #0f0f0f);
}

@media (max-width: 600px) {
  /* … */
  .nav {
    display: none;
  }
  .nav_mobile {
    width: 100%;
    position: sticky;
    position: absolute;
    top: 0;
    left: 0;
  }
  .nav_mobile .item_mobile {
    width: 40%;
    display: none;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.74);
  }
  .nav_mobile .item_mobile a {
    color: #F9F6EF;
    font-weight: 700;
    text-decoration: none;
  }
}

/*# sourceMappingURL=style.css.map */
