//failover for firefox which applies the final state of the animation for some reason.
@supports(animation-timeline: view()){
    @keyframes fade-out {
        to {
            background-size: 150%;
            opacity: 0;
        }
    }
    @keyframes zoom-out {
        to {
            font-size: 2rem;
            padding-left: .1em;
        }
    }
    @keyframes appear {
        to {
            opacity: 1;
        }
    }
    @keyframes max-out {
        to {
            max-width: 100%;
        }
    }
    .hero {
        animation: fade-out linear both;
        animation-timeline: view();
        animation-range: exit -100px;
    }
    nav {
        animation: max-out linear both;
        animation-timeline: view();
        animation-range-start: 80vh;
        animation-range-end: 100vh;
    }
    nav:after {
        animation: appear linear both;
        animation-timeline: view();
        animation-range-start: 60vh;
        animation-range-end: 100vh;
    }
    .logo {
        animation: zoom-out linear both;
        animation-timeline: view();
        animation-range-start: 10vh;
        animation-range-end: 100vh;
    }
}
@supports(not(animation-timeline: view())) {
    .notice:after {
        content: ' animation-timeline of scroll and view are currently not supported in your browser.';
    }
}

// variablesa
$tipo-letra:"Lato", sans-serif;
$color-gray:rgb(131, 131, 131);
$color-resaltado-800:#972929;
$color-resaltado-700:#ab2a2a;
$color-resaltado-600:#cb3737;
$color-resaltado-500:#df5454;
$color-resaltado-400:#ec7d7d;
$color-resaltado-300:#f4adad;
$color-resaltado-200:#f9cfcf;
$color-resaltado-100:#fbe5e5;
$color-resaltado-50:#FDF3F3;
$color-dark:#0f0f0f;
$color-dark-nav:#0f0f0fec;
$color-white:#F9F6EF;


//animations
.tracking-in-expand-fwd {
    -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
//animate termianl
@keyframes curbl {
    0% {
        background: #ffffff;
    }
    49% {
        background: #ffffff;
    }
    60% {
        background: transparent;
    }
    99% {
        background: transparent;
    }
    100% {
        background: #ffffff;
    }
}

//styles globals
body {
    font-family: $tipo-letra;
    margin: 0;
    background-color: $color-dark ;
    color: $color-white;
}

.hero, nav, main {
    max-width: 950px;
    margin: 0 auto;
    padding-inline: 1em;
}

.hero {
    min-height: 60vh;
    background-image:url("https://images.unsplash.com/photo-1520078452277-0832598937e5?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    mix-blend-mode: lighten;
    display: grid;
    align-content: center;
    container-type: inline-size;
    
    h1 {
        font-size: clamp(2rem, 7cqi, 10rem);
        font-weight: 600;
        max-width: 50%;
        color:$color-white;
        text-wrap: balance;
        line-height: .8;
        i {
            color: $color-resaltado-500;
            margin-right: 10px;
        }

        .typed{
            color: $color-resaltado-500;
        }
    }
}

.nav {
    position: sticky;
    top: 0;
    left: 0;
    min-height: 3rem;
    background-color: $color-dark-nav;
    backdrop-filter: blur(.2em);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    z-index: 10;

    .logo {
        font-weight: 900;
        font-size: 10cqi;
        background-color: $color-resaltado-500;
        background-clip: text;
        color: #0000;
    }
    
    ul {
        padding-right: 1em;
        margin: 0;
        display: inline-flex;
        gap: 1rem;

        li {
            list-style: none;
            display: inline-block;
            cursor: pointer;
            transition: .5s linear;

            a {
                text-decoration: none;
                color: $color-white;
            }

            &:hover {
            text-decoration: underline $color-resaltado-500;
            }
        }
    }
}

.nav:after {
    content: '';
    position: absolute;
    opacity: 0;
    height: .05em;
    width: 100%;
    bottom: 0;
    background-color: $color-resaltado-500;
}
h2{
    color: $color-gray;
    font-size: 35px;
    font-weight: 700;
    line-height: .8;
}
p{
    max-width: 500px;
    text-wrap: balance;

}

i,section,div,a,p,h2{
    user-select: none;
}
.seccion_container{
    margin-top: 400px;
}
// styles local
.main{
    
    .about_me{
        display: flex;
        justify-content: space-between;
        .about_me_txt{
            .socials i{
                font-size: 25px;
                margin-right: 20px;
                cursor: pointer;
                color: $color-resaltado-400;
                transition: 200ms;
            }
            & .socials i:hover{
                color: $color-white;
                transform: scale(1, 1);
            }
        }
        
        .container {
            width: 350px;
            height: 200px;
            background: $color-gray;
            font-family: $tipo-letra;
            font-size: 14px;
            color: $color-white;
            border-radius: 5px;
            overflow: hidden;

            .terminal_toolbar {
                display: flex;
                height: 30px;
                align-items: center;
                padding: 0 8px;
                box-sizing: border-box;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background: $color-dark-nav;
                justify-content: space-between;

                .butt {
                    display: flex;
                    align-items: center;

                    .btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0;
                        margin-right: 5px;
                        font-size: 8px;
                        height: 12px;
                        width: 12px;
                        box-sizing: border-box;
                        border: none;
                        border-radius: 100%;
                        background-color: $color-resaltado-600;
                        
                        &.btn:hover {
                            cursor: pointer;
                            background-color: $color-gray;
                        }
                    }
                }

                .add_tab {
                    border: 1px solid #fff;
                    color: #fff;
                    padding: 0 6px;
                    border-radius: 4px 4px 0 0;
                    border-bottom: none;
                    cursor: pointer;
                }

                .user {
                    color: #d5d0ce;
                    margin-left: 6px;
                    font-size: 14px;
                    line-height: 15px;
                }
            }

            .terminal_body {
                background: rgba(0, 0, 0, 0.6);
                height: calc(100% - 30px);
                padding-top: 2px;
                margin-top: -1px;
                font-size: 12px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                display: flex;
                flex-direction: column;

                .terminal_prompt span {
                    margin-left: 4px;
                }
                .terminal_prompt {
                    display: flex;
                    align-items: center;
                    padding: 4px;
                    
                    .terminal_user {
                        color: $color-resaltado-400;
                    }
                    .terminal_location {
                        color: #4878c0;
                    }
                    
                    .terminal_bling {
                        color: #dddddd;
                    }
                    
                    .terminal_cursor {
                        display: block;
                        height: 14px;
                        width: 5px;
                        margin-left: 10px;
                        animation: curbl 1200ms linear infinite;
                    }
                }
                .terminal_output {
                    padding: 4px;
                    flex-grow: 1;
                    overflow-y: auto;
                
                    .output_text {
                        margin: 0;
                    }
                    
                }
            }
        }
    }

    .projects{

        .project_container_items{
            border-radius: solid rgb(255, 10, 10);
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(4,250px);
            gap: 20px;
            // grid-auto-rows:50px;   cuando se genera automaticamanet seran de este valor 
            .card {
                background-color: #ab2a2a;
                cursor: pointer;
                position: relative;
                width: 100%;
                height: 100%;
                aspect-ratio: 16/9;
                background-color: #f2f2f2;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                perspective: 1000px;
                box-shadow: 0 0 0 5px #ffffff80;
                transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
                .card_image{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
    
                &.card:hover {
                    transform: scale(1.05);
                    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
                }
    
                .card__content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                    box-sizing: border-box;
                    background-color: #f2f2f2;
                    transform: rotateX(-90deg);
                    transform-origin: bottom;
                    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
                                    
                        .card__title {
                            margin: 0;
                            font-size: 20px;
                            color: #333;
                            font-weight: 700;
                        }
    
                        &.card:hover svg {
                            scale: 0;
                        }
    
                        .card__description {
                            margin: 10px 0 10px;
                            font-size: 12px;
                            color: #777;
                            line-height: 1.4;
                        }
    
                            .card__button {
                            padding: 15px;
                            border-radius: 8px;
                            background: #777;
                            border: none;
                            color: white;
                        }
    
                        .secondary {
                            background: transparent;
                            color: #777;
                            border: 1px solid #777;
                        }
    
                }
                &.card:hover .card__content {
                    transform: rotateX(0deg);
                }
                &.card:hover .card__content {
                    transform: rotateX(0deg);
                }
            }
            .div1{
                grid-row: 1 / 3;
            }
            .div2{
                grid-column: 2 / 4;
            }
            .div5{
                grid-row: 3 / 5;
            }
            .div7{
                grid-column: 2 / 4;
                grid-row: 3 / 4;
            }
        }    
    }
}


















