//failover for firefox which applies the final state of the animation for some reason.
@supports(animation-timeline: view()){
    @keyframes fade-out {
        to {
            background-size: 150%;
            opacity: 0;
        }
    }
    @keyframes zoom-out {
        to {
            font-size: 2rem;
            padding-left: .1em;
        }
    }
    @keyframes appear {
        to {
            opacity: 1;
        }
    }
    @keyframes max-out {
        to {
            max-width: 100%;
        }
    }
    .hero {
        animation: fade-out linear both;
        animation-timeline: view();
        animation-range: exit -100px;
    }
    nav {
        animation: max-out linear both;
        animation-timeline: view();
        animation-range-start: 80vh;
        animation-range-end: 100vh;
    }
    nav:after {
        animation: appear linear both;
        animation-timeline: view();
        animation-range-start: 60vh;
        animation-range-end: 100vh;
    }
    .logo {
        animation: zoom-out linear both;
        animation-timeline: view();
        animation-range-start: 10vh;
        animation-range-end: 100vh;
    }
}
@supports(not(animation-timeline: view())) {
    .notice:after {
        content: ' animation-timeline of scroll and view are currently not supported in your browser.';
    }
}

// variablesa
$tipo-letra:"Lato", sans-serif;
$color-gray:rgb(131, 131, 131);
$color-resaltado-800:#972929;
$color-resaltado-700:#ab2a2a;
$color-resaltado-600:#cb3737;
$color-resaltado-500:#df5454;
$color-resaltado-400:#ec7d7d;
$color-resaltado-300:#f4adad;
$color-resaltado-200:#f9cfcf;
$color-resaltado-100:#fbe5e5;
$color-resaltado-50:#FDF3F3;
$color-buttons:rgba(128, 128, 128, 0.178);
$color-paragraph:rgb(204, 204, 204);
$color-cart:rgba(128, 128, 128, 0.185);
$color-dark:#0f0f0f;
$color-dark-nav:#0f0f0fec;
$color-white:#F9F6EF;


//animations
.tracking-in-expand-fwd {
    -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

//animation slider skills
@keyframes translatestf {
	0% { transform:translateX(100%);  }
	100% { transform:translateX(-500%);  }
}

@keyframes translateinfinite {
	100% { transform:translateX(calc(-180px * 12));  }
}
//styles globals
*{
    box-sizing: border-box;
}
body {
    font-family: $tipo-letra;
    margin: 0;
    background-color: $color-dark ;
    color: $color-white;
}

.hero, nav, main {
    max-width: 950px;
    margin: 0 auto;
    padding-inline: 1em;
}

.nav:after {
    content: '';
    position: absolute;
    opacity: 0;
    height: .05em;
    width: 100%;
    bottom: 0;
    background-color: $color-resaltado-500;
}
h2{
    color: $color-gray;
    font-size: 35px;
    font-weight: 700;
    line-height: .8;
}
p{
    max-width: 500px;
    text-wrap: balance;
    font-size: 17px;
    color: $color-paragraph ;

}

i,section,div,a,p,h2{
    user-select: none;
}
.seccion_container{
    margin-top: 400px;
}
// styles local
.hero {
    min-height: 60vh;
    background-image:url("https://images.unsplash.com/photo-1520078452277-0832598937e5?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    mix-blend-mode: lighten;
    display: grid;
    align-content: center;
    container-type: inline-size;
    
    h1 {
        font-size: clamp(2rem, 7cqi, 10rem);
        font-weight: 600;
        max-width: 50%;
        color:$color-white;
        text-wrap: balance;
        line-height: .8;
        i {
            color: $color-resaltado-500;
            margin-right: 10px;
        }

        .typed{
            color: $color-resaltado-500;
        }
    }
}

.nav {
    position: sticky;
    top: 0;
    left: 0;
    min-height: 3rem;
    background-color: $color-dark-nav;
    backdrop-filter: blur(.2em);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    z-index: 10;

    .logo {
        font-weight: 900;
        font-size: 10cqi;
        background-color: $color-resaltado-500;
        background-clip: text;
        color: #0000;
    }
    
    ul {
        padding-right: 1em;
        margin: 0;
        display: inline-flex;
        gap: 1rem;

        li {
            list-style: none;
            display: inline-block;
            cursor: pointer;
            transition: .5s linear;

            a {
                text-decoration: none;
                color: $color-white;
            }

            &:hover {
            text-decoration: underline $color-resaltado-500;
            }
        }
    }
}
.nav_mobile{
    display: none;
}


.main{
    
    .about_me{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .about_me_txt{

            span{
                color: $color-resaltado-600;
                font-weight: 600;
            }
            .socials{
                display: flex;
                margin-top: 40px;
                gap: 10px;
                .socials_button{
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    width: auto;
                    border-radius: 20px;
                    padding: 7px 18px;
                    color: $color-white;
                    background-color: $color-buttons;
                    font-size: 15px;
                    font-weight: 500;
                    letter-spacing: 1px;
                    transition: 200ms;
                    text-decoration: none;
                    i{
                        font-size: 22px;
                        color: $color-resaltado-400;
                    }
                }

                & .socials_button:hover{
                    transform: scale(1.05);
                    background-color: #ffffff1a;
                }
            }
        }
        
        .container {
            display: grid;
            width: 400px;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;

            .img2class{
                width: 100%;
                border-radius: 10px;
                grid-column: 1 / 3;
                object-fit: cover;
            }
            .img1class{
                width: 100%;
                height: 100%;
                border-radius: 10px;
                grid-column: 1 / 5;
                object-fit: cover;
            }
            .img3class{
                width: 100%;
                height: 100%;
                border-radius: 10px;
                grid-column: 3 / 5;
                object-fit: cover;
            }

        }

    }

    .projects{

        .project_container_items{
            border-radius: solid rgb(255, 10, 10);
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(4,250px);
            gap: 20px;
            // grid-auto-rows:50px;   cuando se genera automaticamanet seran de este valor 
            .card {
                background-color: #ab2a2a;
                cursor: pointer;
                position: relative;
                width: 100%;
                height: 100%;
                aspect-ratio: 16/9;
                background-color: #f2f2f2;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                perspective: 1000px;
                transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
                .card_image{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
    
                &.card:hover {
                    transform: scale(1.05);
                    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
                }
    
                .card__content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                    box-sizing: border-box;
                    background-color: #f2f2f2;
                    transform: rotateX(-90deg);
                    transform-origin: bottom;
                    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
                                    
                        .card__title {
                            margin: 0;
                            font-size: 20px;
                            color: #333;
                            font-weight: 700;
                        }
    
                        &.card:hover svg {
                            scale: 0;
                        }
    
                        .card__description {
                            margin: 10px 0 10px;
                            font-size: 12px;
                            color: #777;
                            line-height: 1.4;
                        }
    
                            .card__button {
                            padding: 15px;
                            border-radius: 8px;
                            background: #777;
                            border: none;
                            color: white;
                        }
    
                        .secondary {
                            background: transparent;
                            color: #777;
                            border: 1px solid #777;
                        }
    
                }
                &.card:hover .card__content {
                    transform: rotateX(0deg);
                }
                &.card:hover .card__content {
                    transform: rotateX(0deg);
                }
            }
            .div1{
                grid-row: 1 / 3;
            }
            .div2{
                grid-column: 2 / 4;
            }
            .div5{
                grid-row: 3 / 5;
            }
            .div7{
                grid-column: 2 / 4;
                grid-row: 3 / 4;
            }
        }    
    }

    .expirience{

        .expirience_container_items{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            .cart_container{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 220px;
                height: auto;
                padding: 20px;
                border-radius: 20px;
                background-color: $color-cart;

                .cart_icon i{
                    font-size: 50px;
                    color: $color-resaltado-500;

                }
                .cart_txt {
                    h3{
                        color: $color-white;
                        font-weight: 800;
                    }
                    p {
                        display: flex;
                        gap: 10px;
                        color: $color-resaltado-600;
                        font-weight: 700;

                        span{
                            color: $color-gray;
                        }
                    }

                }
                .cart_button button{
                    width: 100%;
                    padding: 8px;
                    border-radius: 10px;
                    border: none;
                    background-color: $color-buttons;
                    color: $color-white;
                    cursor: pointer;
                }
                .cart_button button:hover{
                    background-color: #ffffff1a;
                }
            }
            
        }
    }

    .slide-option {
        display: flex;
        flex-flow: column;
        align-items: center;
    
        .container {
            transition: all 0.3s ease;
        }

        .highway-slider {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 150px;
        
            .highway-barrier {
                overflow: hidden;
                position: relative;
        
                ul.highway-lane {
                    display: flex;
                    height: 100%;
        
                    li.highway-car {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    }
                }
            }
        }
        
        .highway-slider {
            ul.highway-barrier {
                
                ul.highway-lane {
                    width: 500%;
        
                    li.highway-car {
                        animation: translatestf 30s linear infinite;
                    }
                }
            }
        }
        #infinite {
            .highway-barrier::before,
            .highway-barrier::after {
                content: " ";
                position: absolute;
                z-index: 9;
                width: 180px;
                height: 100%;
            }
            .highway-barrier::before {
                top:0;
                left:0;
                background: linear-gradient(to right, $color-dark 0%, rgba(255,255,255,0) 30%);
            }
            .highway-barrier::after {
                top:0;
                right:0;
                background: linear-gradient(to left, $color-dark 0%, rgba(255,255,255,0) 30%);
            }
            ul.highway-lane {
              width: calc(180px * 24);
            
                li.highway-car {
                    width: 180px;
                    animation: translateinfinite 25s linear infinite;
                    svg {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
    
    .contact{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: solid 1px $color-resaltado-500;
        padding: 20px 0px;
        margin-bottom: 100px;
        .socials{
            display: flex;
            margin-top: 40px;
            gap: 10px;
            .socials_button{
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                width: auto;
                border-radius: 20px;
                padding: 7px 18px;
                color: $color-white;
                background-color: $color-buttons;
                font-size: 15px;
                font-weight: 500;
                letter-spacing: 1px;
                transition: 200ms;
                text-decoration: none;
                i{
                    font-size: 22px;
                    color: $color-resaltado-400;
                }
            }

            & .socials_button:hover{
                transform: scale(1.05);
                background-color: #ffffff1a;
            }
        }

        .form{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-direction: column;
            border-radius: 20px;
            padding: 15px 5px;
            background-color: $color-cart;
            width: 350px;

            fieldset{
                width: 80%;
                border-radius: 5px;
                font-weight: 600;
                color: $color-resaltado-500;

                input,textarea{
                    resize: none;
                    width: 100%;
                    padding: 6px;
                    border-radius: 5px;
                    border: none;
                    background-color: rgba(68, 68, 68, 0.671);
                    color: white;
                }

                input[type="text"]:focus {
                    outline: none; 
                }
                input[type="email"]:focus {
                    outline: none;
                }
                textarea:focus{
                    outline: none;
                }
            }

            .button_submit{
                cursor: pointer;
                width: 60%;
                padding: 10px;
                border-radius: 10px;
                border: none;
                background-color:$color-resaltado-500;
                color:white;
            }

            & .button_submit:hover{
                background-color: $color-resaltado-600;
            }
        }
    }
}

.footer{
    background-color: #141414;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}


// we create the media screem 
@media (max-width: 600px) {
    /* … */
    .nav{
        display: none;
    }
    .nav_mobile{
        width: 100%;
        position: sticky;
        position: absolute;
        top: 0;
        left: 0;
        .item_mobile{
            width: 40%;
            display: none;
            flex-direction: column;
            list-style: none;
            gap: 30px;
            padding: 20px;
            background-color: rgba(128, 128, 128, 0.74);

            a{
                color: $color-white;
                font-weight: 700;
                text-decoration: none;
            }
        }
    }
}



